@model web.Models.OglasStroj

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
    <div class="image" style="background-image: url('https://raw.githubusercontent.com/aljaztravnik/kmetzakmeta/main/web/Views/OglasiStrojev/placeholderImg.webp');"></div>
    <div class="details">
        <div class="title">@Html.DisplayFor(model => model.Title)</div>
        <div class="info">Delovne ure: @Html.DisplayFor(model => model.WorkingHours)</div>
        <div class="info">Letnik: @Html.DisplayFor(model => model.Age)</div>
        <div class="info">Moč [kW]: @Html.DisplayFor(model => model.Power)</div>
        <div class="price">Cena: @Html.DisplayFor(model => model.Price)€</div>
        <div class="info">@Html.DisplayFor(model => model.Desc)</div>
    </div>
</div>