@model web.Models.OglasZivina

@{
    ViewData["Title"] = "KmetZaKmeta";
}

<div class="details-container">
    <div class="image" style="background-image: url('https://raw.githubusercontent.com/aljaztravnik/kmetzakmeta/main/web/Views/OglasiZivine/placeholderImg.jpg');"></div>
    <div class="details">
        <div class="title">@Html.DisplayFor(model => model.Title)</div>
        <div class="info">Letnica rojstva: @Html.DisplayFor(model => model.Age)</div>
        <div class="info">Teža: @Html.DisplayFor(model => model.Weight)</div>
        <div class="info">Spol: @Html.DisplayFor(model => model.Sex)</div>
        <div class="info">Naraščaj: @Html.DisplayFor(model => model.Offspring)</div>
        <div class="info">Konstrukcija: @Html.DisplayFor(model => model.Construction)</div>
        <div class="price">Cena: @Html.DisplayFor(model => model.Price)€</div>
        <div class="info">@Html.DisplayFor(model => model.Desc)</div>
    </div>
</div>