@model PaginatedList<web.Models.OglasZivina>

@{
    ViewData["Title"] = "KmetZaKmeta";
}

<h1>Izberite kriterije</h1>
<div class="flex-container">
    <div class="flex-child">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cena padajoče</a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cena naraščajoče</a>
    </div>
    <div class="flex-child">
        <div class="filter-container">
            <form asp-action="Index" method="get">
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Išči po imenu" class="filter-input"/>
                <!-- TUKAJ JE LAHKO ŠE FILTRIRANJE PO:
                        - letnici
                        - teži
                        - pasma (ampak je že search)
                        - spol
                        - regija
                        - naraščaj
                -->
                <!--
                <select name="Make" class="filter-dropdown">
                    <option value="Črno-belo govedo">Črno-belo govedo</option>
                    <option value="Limuzin (Limousin) govedo">Limuzin (Limousin) govedo</option>
                    <option value="Lisasto govedo">Lisasto govedo</option>
                    <option value="Montbeliard govedo">Montbeliard govedo</option>
                    <option value="Rjavo govedo">Rjavo govedo</option>
                    <option value="Šarole (Charolais) govedo">Šarole (Charolais) govedo</option>
                </select>
                -->
                <input type="number" name="MinPrice" value="@ViewData["CurrentMinPrice"]" class="filter-input" placeholder="Minimum cena [€]">
                <input type="number" name="MaxPrice" value="@ViewData["CurrentMaxPrice"]" class="filter-input" placeholder="Maksimum cena [€]">

                <input type="submit" value="Uporabi filtre" class="filter-button"/>
            </form>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Ustvari nov oglas</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <a asp-action="Details" asp-route-id="@item.ZivinaOglasID">
                <div class="listing">
                    <div class="image" style="background-image: url('https://raw.githubusercontent.com/aljaztravnik/kmetzakmeta/main/web/Views/OglasiZivine/placeholderImg.jpg');"></div>
                    <div class="details">
                        <div class="title">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="info">Letnica rojstva: @Html.DisplayFor(modelItem => item.Age)</div>
                        <div class="info">Spol: @Html.DisplayFor(modelItem => item.Sex)</div>
                        <div class="price">Cena: @Html.DisplayFor(modelItem => item.Price)€</div>
                    </div>
                </div>
            </a>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Naprej
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Nazaj
</a>